body {
    font-family: "Roboto", sans-serif;
}
header {
    margin: 0 auto;
    padding-top: 53px;
    background: url(/img/header/header_img.jpg) center/cover fixed;
    width: 1600px;
    height: 720px;
}
.header__nav {
    display: flex;
    height: 36px;
    line-height: 36px;
}
.header__logo {
    width: 41px;
    object-fit: none;
    margin-left: 227px;
}
.header__title {
    width: 97px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #171FE5;
}
.menu {
    display: flex;
    justify-content: space-between;
    width: 319px;
    font-size: 18px;
    margin-left: 344px;
    li{
        display: inline-block;
        list-style-type: none;
    }
    a {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        text-decoration: none;
        color: black;
    }
    
}
.menu2, .menu3, .menu4 {
    opacity: 70%;
}
.header__content {
    display: flex

}
.shop {
    display: flex;
    flex-direction: column;
    width: 517px;
    height: 348px;
    margin-left: 227px;
    margin-top: 153px;
}
.shop__title {
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-family: 21px;
    color: #171FE5;
    margin-bottom: 10px;
}
.shop__detail {
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    line-height: 120%;
    font-size: 61px;
    font-weight: bold;
    margin-bottom: 20px;
}
.shop__detail1 {
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 40px;
}
.shop__button{
    width: 216px;
    height: 54px;
    text-decoration: none;
    border: 0px solid;
    background-color: #FF843F;
    border-radius: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: #ffffff;
        margin-left: 30px;;
    }
    img {
        margin-right: 14px;
    }
}

.sale__banner {
    margin-top: 45px;
    margin-left: 39px;
    width: 735px;
    height: 590px;
    background: url(/img/header/Group\ 305.png);
}

.container__gallery {
    width: 1146px;
    margin: 0 auto;
}
.gallery {
    display: grid;
    gap: 30px;
    justify-content: center;
}
.gallery__title {
    font-size: 36px;
    font-family: sans-serif;
    margin-top: 70px;
    margin-bottom: 70px;
}
.item {
    width: 362px;
    height: 339px;
}
.item1 {
    grid-row: 1/3;
    width: 362px;
    height: 708px;
}
.item2 {
    grid-row: 1/2;
}
.item3 {
    grid-row: 1/2;
}
.item4 {
    grid-row: 2/3;
}
.item5 {
    grid-row: 2/3;
}

footer {
    margin: 0 auto;
    margin-top: 120px;
    background-color: #040522;
    width: 1600px;
    height: 313px;
    color: #ffffff;
}
.footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 70px;
}
.footer__social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 164px;
    width: 260px;
    p {
        font-family: "DM Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        opacity: 70%;
    }
}
.social__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.social__img {
    width: 41.04px;
    height: 31.01px;
}
.social__title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 31px;
}
.social__nav {
    width: 165px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer__link {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    width: 120px;
    height: 178px;
    a {
        color: #ffffff;
        opacity: 70%;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
    }
}
.link__title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
}
.link__nav {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: #ffffff;
    opacity: 70%;
    text-decoration: none;
    font-size: 16px;
}
.link__nav1, .link__nav2, .link__nav3 {
    margin-bottom: 10px;
}

.footer__support {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    width: 120px;
    height: 171px;
    a {
        font-weight: 500;
        color: #ffffff;
        opacity: 70%;
        text-decoration: none;
        font-size: 16px;
    }
}
.support__title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 25px;
}

.support__nav {
    display: flex;
    flex-direction: column;
}
.support__nav1, .support__nav2, .support__nav3 {
    margin-bottom: 10px;
}


.footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 193px;
    height: 139px;
    font-family: "Poppins", sans-serif;
}
.contact__title {
    font-weight: 600;
    font-size: 22px;
}
.contact__details {
    opacity: 70%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px
}