body {
    font-family: "Roboto", sans-serif;
}
header {
    margin: 0 auto;
    padding-top: 53px;
    background: url(/img/header/header_img.jpg) center/cover fixed;
    width: auto;
    height: 720px;
}
.header__container {
    margin: 0 auto;
    width: 1291px;
}
.header__nav {
    display: flex;
    height: 36px;
    line-height: 36px;
}
.header__logo {
    width: 41px;
    object-fit: none;
}
.header__title {
    width: 97px;
    font-weight: 500;
    font-size: 31px;
    color: #171FE5;
}
.menu {
    display: flex;
    justify-content: space-between;
    width: 319px;
    font-size: 18px;
    margin-left: 344px;
    li{
        display: inline-block;
        list-style-type: none;
    }
    a {
        font-weight: 500;
        text-decoration: none;
        color: black;
    }
    
}

.menu__item {
    opacity: 70%;
}
.menu__item--active {
    opacity: 100%;
}
.header__content {
    display: flex

}
.shop {
    display: flex;
    flex-direction: column;
    width: 517px;
    height: 348px;
    margin-top: 153px; 
}
.shop__title {
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-family: 21px;
    color: #171FE5;
    margin-bottom: 10px;
}
.shop__detail {
    margin: 0;
    font-family: "Lexend", sans-serif;
    
    font-weight: 600;
    line-height: 120%;
    font-size: 61px;
    font-weight: bold;
    margin-bottom: 20px;
}
.shop__subdetail {
    font-family: "Lexend", sans-serif;
    line-height: 160%;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-bottom: 40px;
}
.shop__button{
    width: 216px;
    height: 54px;
    text-decoration: none;
    border: 0px solid;
    background-color: #FF843F;
    border-radius: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        font-weight: 500;
        font-style: normal;
        font-size: 18px;
        color: #ffffff;
        margin-left: 30px;;
    }
    img {
        margin-right: 14px;
    }
}

.sale__banner {
    margin-top: 45px;
    margin-left: 39px;
    width: 735px;
    height: 590px;
    background: url(/img/header/Group\ 305.png);
}

.container__gallery {
    width: 1146px;
    margin: 0 auto;
}
.gallery {
    display: grid;
    gap: 30px;
    justify-content: center;
}
.gallery__title {
    font-size: 36px;
    font-family: sans-serif;
    margin-top: 70px;
    margin-bottom: 70px;
}
.item {
    width: 362px;
    height: 339px;
}
.item1 {
    grid-row: 1/3;
    width: 362px;
    height: 708px;
}
.item2 {
    grid-row: 1/2;
}
.item3 {
    grid-row: 1/2;
}
.item4 {
    grid-row: 2/3;
}
.item5 {
    grid-row: 2/3;
}

.container__product {
    font-family: "Lexend", sans-serif;
    width: 1146px;
    margin: 0 auto;
    margin-top: 120px;
}
.product__title{
    line-height: 120%;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 44px;
    margin-bottom: 70px;
}
.product__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product__item {
    width: 362px;
    height: 502px;
}
.product__item--info {
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 25px;
    width: 362px;
    height: 215px;
    box-shadow: 0 4px 8px rgba(4, 5, 34, 0.05);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.product__item--title {
    height: 31px;
    line-height: 140%;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
}
.product__item--details {
    margin-top: 10px;
    width: 308px;
    height: 78px;
    line-height: 160%;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    opacity: 70%;
}
.product__item--more {
    margin-top: 20px;
    width: 312px;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
        text-decoration: none;
        color: #E56117;
    }
}


footer {
    margin: 0 auto;
    margin-top: 120px;
    background-color: #040522;
    width: auto;
    height: 313px;
    color: #ffffff;
}
.footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1146px;
    padding-top: 70px;
    margin: auto;
}
.footer__social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 164px;
    width: 260px;
    p {
        font-family: "DM Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        opacity: 70%;
    }
}
.social__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.social__img {
    width: 41.04px;
    height: 31.01px;
}
.social__title {
    font-weight: 500;
    font-size: 31px;
}
.social__nav {
    width: 165px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__link {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    width: 113px;
    height: 171px;
    a {
        color: #ffffff;
        opacity: 70%;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
    }
}
.link__title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
    height: 33px;
}
.link__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 113px;
    a {
        height: 17px;
    }
}


.footer__support {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    width: 103px;
    height: 171px;
    a {
        font-weight: 500;
        color: #ffffff;
        opacity: 70%;
        text-decoration: none;
        font-size: 16px;
    }
}
.support__title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 25px;
    height: 33px;
}

.support__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 113px;
    a{
        height: 17px;
    }
}

.footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 193px;
    height: 139px;
    font-family: "Poppins", sans-serif;
}
.contact__title {
    font-weight: 600;
    font-size: 22px;
}
.contact__details {
    height: 81px;
    opacity: 70%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
}